*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  // Background from uigradients.com
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg {
  // Background from uigradients.com
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, white, #f9fbff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, white, #f9fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.up {
  border-radius: 50%;
  color: gray;
  position: fixed;
  bottom: 10%;
  right: 5%;
  opacity: 0;
  transition: all .5s;
}

// Override all highlighted text color for all browsers
::selection {
  background-color: black;
  color: white;
}
::-moz-selection {
  background-color: black;
  color: white;
}
::-o-selection {
  background-color: black;
  color: white;
}
::-ms-selection {
  background-color: black;
  color: white;
}
::-webkit-selection {
  background-color: black;
  color: white;
}