<div class="bg">
  <div class="container">
    <section class="about">
      <p class="about__text">Thanks for stopping by. I’m Kaden, a full-stack 
        web developer with a strong affinity for graphic 
        design. In my outspoken opinion, excellent web 
        development extends beyond merely writing clean 
        code. I prioritize letting my design background 
        shine through in my client projects. Crafting a 
        stunning online presence - both functionally and 
        aesthetically - is essential.</p>
      <p class="about__text">Partnering together to understand your goals is 
        the best way to kickstart a project. Should you 
        have concepts in mind, I specialize in fleshing 
        those visions out and making them pixel-perfect. 
        Building a memorable brand is important, and I 
        tackle all projects with unparalleled work ethic 
        and responsibility. Connecting with your visitors 
        can be tricky – I’ll work with you to solve that 
        unique challenge.</p>
      <p class="about__text">Aside from coding, I provide additional services 
        to help your site hit the ground running. I have 
        experience with arranging reliable web hosting 
        and boosting search engine optimization (SEO). 
        While maintaining a beautiful web presence is 
        crucial, potential visitors must also be able to 
        discover you. I will guide traffic to your site 
        while handling any additional tasks thrown my way. 
      </p>
    </section>
  </div>
</div>