<div class="bg">
  <div class="container">
    <section class="contact">
      <form action="/" class="contact__form">
        <h3>Contact</h3>
        <input type="text" class="contact__form__input" name="name" placeholder="Your name">
        <input type="text" class="contact__form__input" name="email" placeholder="Your email">
        <input type="text" class="contact__form__input" name="subject" placeholder="Subject">
        <textarea name="message" rows="5" class="contact__form__textarea" placeholder="Message..."></textarea>
        <button class="contact__form__btn">Send Message</button>
      </form>
    </section>
  </div>
</div>