<div class="container">
  <section class="hero">
    <h1 class="hero__title">
      Kaden Zipfel
      <br>
      <span class="hero__title hero__title--sub">
        Web Developer
      </span>
    </h1>
    <h3 class="hero__text">
      Functional & Aesthetic <br>
      Full-Stack Web Development
    </h3>
    <div id="about"></div>
  </section>
</div>