<div class="container">
  <section class="hero">
    <h1 class="hero__title" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
      Kaden Zipfel
      <br>
      <span class="hero__title hero__title--sub">
        Web Developer
      </span>
    </h1>
    <h3 class="hero__text" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">
      Functional & Aesthetic <br>
      Full-Stack Web Development
    </h3>
    <div id="about"></div>
  </section>
</div>