<div class="container">
  <nav class="nav">
    <div class="nav__brand">
      <img src="img/logo_white.png">
    </div>
    <ul class="nav__right">
      <a href="#" class="nav__right__link"><li class="nav__right__item">About</li></a>
      <a href="#" class="nav__right__link"><li class="nav__right__item">Portfolio</li></a>
      <a href="#" class="nav__right__link"><li class="nav__right__item">Contact</li></a>
    </ul>
  </nav>
</div>