<div class="container">
  <nav class="nav">
    <div class="nav__brand">
      <a href="/"><img src="img/logo_white.png"></a>
    </div>
    <ul class="nav__right">
      <a href="#about" class="nav__right__link"><li class="nav__right__item">About</li></a>
      <a href="#portfolio" class="nav__right__link"><li class="nav__right__item">Portfolio</li></a>
      <a href="#contact" class="nav__right__link"><li class="nav__right__item">Contact</li></a>
      <a target="_blank" href="http://github.com/kadenzipfel"><i class="fab fa-github fa-2x nav__right__icon"></i></a>
    </ul>
  </nav>
</div>