<section class="portfolio" data-aos="fade-up">
  <h1 class="portfolio__title">
    Portfolio
  </h1>
  <div class="portfolio__items">
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="/natours" target="_blank">
          <img src="img/natours.png">
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a href="/natours" target="_blank" class="portfolio__item__link">
          Natours
        </a>
      </h3>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="http://arianaroach.com" target="_blank">
          <img src="img/ariana.png">
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a href="http://arianaroach.com" target="_blank" class="portfolio__item__link">
          Ariana Roach Photography
        </a>
      </h3>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="/nexter" target="_blank">
          <img src="img/nexter.png">
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a href="/nexter" target="_blank" class="portfolio__item__link">
          Nexter
        </a>
      </h3>
    </div>
  </div>
  <div id="contact"></div>
</section>