<section class="portfolio">
  <div class="portfolio__item">
    <div class="portfolio__item__img">
      <a href="#">
        <img src="img/natours.png">
      </a>
    </div>
    <h3 class="portfolio__item__title">
      <a href="#" class="portfolio__item__link">
        Natours | HTML & SCSS
      </a>
    </h3>
  </div>
  <div class="portfolio__item">
    <div class="portfolio__item__img">
      <a href="#">
        <img src="img/ariana.png">
      </a>
    </div>
    <h3 class="portfolio__item__title">
      <a href="#" class="portfolio__item__link">
        Ariana Roach Photography
      </a>
    </h3>
  </div>
  <div class="portfolio__item">
    <div class="portfolio__item__img">
      <a href="#">
        <img src="img/nexter.png">
      </a>
    </div>
    <h3 class="portfolio__item__title">
      <a href="#" class="portfolio__item__link">
        Nexter | HTML & SCSS
      </a>
    </h3>
  </div>
</section>