<section class="portfolio" data-aos="fade-up">
  <h1 class="portfolio__title">
    Work
  </h1>
  <div class="portfolio__subtitles">
    <h3>Full-Stack</h3>
    <h3>Front-End</h3>
  </div>
  <div class="portfolio__items">
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="http://van-canna.herokuapp.com" target="_blank">
          <img src="img/vancanna.png" />
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a
          href="http://van-canna.herokuapp.com"
          target="_blank"
          class="portfolio__item__link"
        >
          Vancanna
        </a>
        <a
          target="_blank"
          href="https://github.com/KadenZipfel/vancanna"
          class="portfolio__item__github"
          ><i class="fab fa-github"></i
        ></a>
      </h3>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="https://ariana-portfolio.herokuapp.com/" target="_blank">
          <img src="img/ariana.png" />
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a
          href="https://ariana-portfolio.herokuapp.com/"
          target="_blank"
          class="portfolio__item__link"
        >
          AR Photography
        </a>
        <a
          target="_blank"
          href="https://github.com/KadenZipfel/arianas-portfolio"
          class="portfolio__item__github"
          ><i class="fab fa-github"></i
        ></a>
      </h3>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="/startup" target="_blank">
          <img src="img/startup.png" />
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a href="/startup" target="_blank" class="portfolio__item__link">
          Startup
        </a>
        <a
          target="_blank"
          href="https://github.com/KadenZipfel/startup-theme"
          class="portfolio__item__github"
          ><i class="fab fa-github"></i
        ></a>
      </h3>
    </div>
    <div class="portfolio__item">
      <div class="portfolio__item__img">
        <a href="/foto" target="_blank">
          <img src="img/foto.png" />
        </a>
      </div>
      <h3 class="portfolio__item__title">
        <a href="/foto" target="_blank" class="portfolio__item__link">
          Foto
        </a>
        <a
          target="_blank"
          href="https://github.com/KadenZipfel/photo-folio"
          class="portfolio__item__github"
          ><i class="fab fa-github"></i
        ></a>
      </h3>
    </div>
  </div>
  <div id="contact"></div>
</section>
