<% include partials/header %>
<% include partials/nav %>

<div class="bg-2">
  <div class="container">
    <section class="error">
      <h1 class="error__title" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        404
      </h1>
      <h3 class="error__text" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500">
        Sorry, <br>
        This page doesn't exist!
      </h3>
    </section>
  </div>
</div>

<% include partials/footer %>